.page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.page-header .top-bar-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-header {
    width: 55rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-header a{
    text-decoration: none;
    font: 400 2.4rem Lato;
    transition: opacity 0.2s;
    color: var(--color-blue);
    line-height: 2.9rem;
}

.links-header a:hover{
    opacity: 0.6;
}